@using System.Globalization;
@model Photo[]

@{
    ViewData["Title"] = "Home Page";
    var photos = Model;
}

<h1 class="text-center">Pagina principale</h1>

<div class="text-center">
    <button type="button" class="btn btn-primary mx-auto my-3" onclick="location.href='@Url.Action("Create", "Photo")'">Aggiungi Fotografia</button>
</div>


@if (photos.Length is 0)
{
    <p>Nessuna Foto</p>
}
else
{
    <table class="mx-auto">
        <thead>
            <tr>
                <th class="pe-2">ID</th>
                <th>Titolo</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var photo in photos)
            {
                <tr>
                    <td>@photo.Id</td>
                    <td><a href="@Url.Action("Detail", "Photo", new { Id = photo.Id })">@photo.Title</a></td>
                </tr>
            }
        </tbody>
    </table>
}