@using System.Globalization;
@model Photo[]

@{
    ViewData["Title"] = "Home Page";
    var photos = Model;
}

<h1 class="text-center">Pagina principale</h1>

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Titolo</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var photo in photos)
        {
            <tr>
                <td>@photo.Id</td>
                <td><a href="@Url.Action("Detail", "Photo", new { Id = photo.Id })">@photo.Title</a></td>
                @*<td>@photo.Title</td>*@
            </tr>
        }
    </tbody>
</table>